html {
  font-size: 20px;
  color: black;
  font-family: 'Lilita One', cursive, sans-serif;
  --blue: #3785df;
  --red: #c93030;
  --green: #1a8a1a;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: rgb(241, 205, 157);
  background-image: url("https://www.transparenttextures.com/patterns/low-contrast-linen.png");
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

header {
  padding: 1rem 0 2rem;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 0 auto;
  padding-bottom: 2rem;
}

footer {
  color: black;
  background-color: #b1b1b188;
  box-shadow: 0 0 10px black;
  position: fixed;
  width: 100%;
  bottom: 0;
  text-align: center;
}

h1 {
  font-size: 2.3rem;
  text-align: center;
  letter-spacing: 1px;
  word-spacing: 15px;
}

footer p {
  line-height: 2rem;
}

#game {
  background-color: #b1b1b188;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  box-shadow: 0 0 15px black;
  border-radius: 15px;
  padding: 3rem 3rem 2rem;
}

.rock, .paper, .scissors {
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

#enemy {
  display: flex;
  align-items: flex-end;
  width: 120px;
  height: 100px;
} 

#player-div {
  height: 150px;
  display: flex;
  gap: 5rem;
}

#scoreboard {
  background-color:white;
  display: flex;
  width: 400px;
  justify-content: space-around;
  padding: 0.5rem;
  border-radius: 1rem;
}
#result {
  height: 3rem;
  font-size: 3rem;
  letter-spacing: 3px;
}

#restart {
  background-color: var(--blue);
  color: white;
  font-family: inherit;
  font-size: inherit;
  width: 8rem;
  box-shadow: 0 0 8px black;
  padding: 0.5rem;
  border: none;
  border-radius: 5rem;
}

#post-game {
  display: flex;
  height: 80px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 3rem;
}

#player-div, #restart {
  cursor: pointer;
}

#player-div div:hover {
  transform: scale(1.05);
}

#scoreboard p {
  display: inline-block;
}

.rock img {
  width: 80%;
}

.paper img {
  width: 95%;
}

.scissors img {
  width: 80%;
}

.green {
  color: var(--green);
}

.red {
  color: var(--red);
}

.blue {
  color: var(--blue);
}

#enemy-comment {
  height: 1rem;
}

#comment {
  font-size: 1.5rem;
}

.hidden {
  display: none !important; 
}
