html {
  font-size: 18px;
  color: black;
  font-family: 'Lilita One', cursive, sans-serif;
  --blue: #3785df;
  --red: #c93030;
  --green: #1a8a1a;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: rgb(241, 205, 157);
  background-image: url("https://www.transparenttextures.com/patterns/low-contrast-linen.png");
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  margin: 10px 0 20px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 0 auto;
  gap: 20px;
}

footer {
  color: black;
  background-color: #b1b1b188;
  width: 100%;
  box-shadow: 0 0 10px black;
  text-align: center;
  margin-top: 20px;
  padding: 10px;
}

h1 {
  font-size: 2rem;
  text-align: center;
  letter-spacing: 1px;
  word-spacing: 15px;
}

#game {
  max-width: 500px;
  height: 600px;
  background-color: #b1b1b188;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 0 15px black;
  border-radius: 15px;
  padding: 0 20px;
}

#enemy-div {
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

#enemy-div > div {
  height: 140px;
  width: 140px;
}

#enemy-comment, #comment {
  max-width: 350px;
  min-width: 235px;
  text-align: center;
  text-shadow: 0 0 5px white;
}

#player-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.buttons {
  max-height: 90px;
  display: flex;
  justify-content: center;
  gap: 17%;
}

#scoreboard {
  background-color:white;
  min-width: 250px;
  display: flex;
  justify-content: space-around;
  gap: 25px;
  padding: 5px 10px;
  border-radius: 20px;
  text-align: center;
}

#scoreboard p {
  display: inline-block;
}

#post-game {
  background-color: rgba(255, 255, 255, 0.6);
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-bottom: 5vh;
  padding: 20px;
  border-radius: 15px;
  
}

#result {
  text-align: center;
  font-size: 2.5rem;
  letter-spacing: 3px;
}

#restart {
  font-family: inherit;
  font-size: inherit;
  background-color: var(--blue);
  color: white;
  box-shadow: 0 0 8px black;
  padding: 10px 30px;
  border: none;
  border-radius: 20px;
}

.rock, .paper, .scissors {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.scissors img, .paper img {
  max-height: 100%;
  max-width: 100%;
}

.rock img {
  max-height: 75%;
  max-width: 100%;
}

.green {
  color: var(--green);
}

.red {
  color: var(--red);
}

.blue {
  color: var(--blue);
}

.buttons, #restart {
  cursor: pointer;
}

.buttons > div:hover {
  transform: scale(1.05);
}

.hidden {
  display: none !important; 
}