html {
  font-size: 18px;
  color: black;
  font-family: 'Lilita One', cursive, sans-serif;
  --blue: #3785df;
  --red: #c93030;
  --green: #1a8a1a;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: rgb(241, 205, 157);
  background-image: url("https://www.transparenttextures.com/patterns/low-contrast-linen.png");
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  margin-top: 0.5rem;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 0 auto;
  gap: 1rem;
}

footer {
  color: black;
  background-color: #b1b1b188;
  width: 100%;
  position: fixed;
  bottom: 0;
  box-shadow: 0 0 10px black;
  text-align: center;
}

h1 {
  font-size: 2rem;
  text-align: center;
  letter-spacing: 1px;
  word-spacing: 15px;
}

footer p {
  line-height: 2rem;
}

#game {
  background-color: #b1b1b188;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 0 15px black;
  border-radius: 15px;
  padding: 0 3rem 1rem;
}

#enemy-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

#enemy-div > div {
  height: 120px;
  width: 120px;
}

#enemy-comment {
  max-width: 350px;
  min-width: 235px;
  text-align: center;
}

#player-div {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.buttons {
  height: 110px;
  display: flex;
  justify-content: center;
  gap: 10%;
}

#comment {
  max-width: 360px;
  min-width: 200px;
  text-align: center;
}

#scoreboard {
  background-color:white;
  min-width: 250px;
  display: flex;
  justify-content: space-around;
  gap: 0.5rem;
  padding: 0.2rem 0.8rem;
  border-radius: 1rem;
  text-align: center;
}

#scoreboard p {
  display: inline-block;
}

#post-game {
  background-color: rgba(255, 255, 255, 0.6);
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 5vh;
  padding: 1rem;
  border-radius: 15px;
  
}

#result {
  height: 3rem;
  text-align: center;
  font-size: 2.5rem;
  letter-spacing: 3px;
}

#restart {
  background-color: var(--blue);
  color: white;
  font-family: inherit;
  font-size: inherit;
  width: 150px;
  box-shadow: 0 0 8px black;
  padding: 0.5rem;
  border: none;
  border-radius: 5rem;
}

.rock, .paper, .scissors {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.buttons > div {
  max-width: 120px;
  min-width: 50px;
}

.rock img, .scissors img {
  width: 80%;
}

.paper img {
  width: 90%;
}

.green {
  color: var(--green);
}

.red {
  color: var(--red);
}

.blue {
  color: var(--blue);
}

.buttons, #restart {
  cursor: pointer;
}

.buttons > div:hover {
  transform: scale(1.05);
}

.hidden {
  display: none !important; 
}