html {
  font-size: 20px;
  color: rgb(0, 0, 0);
  font-family: 'Lilita One', cursive, sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #c7c0ad;
  background-image: url("https://www.transparenttextures.com/patterns/low-contrast-linen.png");
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

footer {
  color: white;
  background-color: rgb(0, 0, 0);
  position: fixed;
  width: 100%;
  bottom: 0;
  text-align: center;
}

footer p {
  line-height: 2rem;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 0 auto;
  gap: 2rem;
}

#enemy {
  display: flex;
  align-items: flex-end;
  height: 120px;
  width: 150px;
} 

#enemy-comment {
  margin-bottom: 2rem;
}

#player-div {
  height: 150px;
  display: flex;
  gap: 5rem;
  cursor: pointer;
}

#player-div div:hover {
  transform: scale(1.05);
}

#scoreboard {
  display: flex;
  width: 400px;
  justify-content: space-around;
}

h1 {
  font-size: 2.3rem;
  text-align: center;
  margin: 1rem 0 3rem;
  letter-spacing: 1px;
  word-spacing: 15px;
}

#scoreboard p {
  display: inline-block;
}

.rock, .paper, .scissors {
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

#comment {
  font-size: 1.5rem;
  margin-top: 2rem;
}

.rock img {
  width: 90%;
}

.paper img {
  width: 100%;
}

.scissors img {
  width: 80%;
}

.green {
  color: #1a8a1a;
}

.red {
  color: #c93030;
}

.blue {
  color: #3785df;
}

#result {
  font-size: 3rem;
  letter-spacing: 3px;
  margin-bottom: 1rem;
  text-shadow: 0 0 10px white;
}

.hidden {
  display: none !important; 
}